*{
    font-family: Montserrat;
}

html, body {
     min-height: 100%;
     color: #1e1e1e;
     margin: auto;
}

html {
  scroll-behavior: smooth;
}

 h1{
    font-weight: 900;
    font-size: 70px;
 }

h2{
    font-weight: 700;
    font-size: 30px;
}

h3{
    font-weight: 400;
    font-size: 30px;
}

p{
    font-weight: 400;
}

a{
    color: white;
}

a:hover{
    color: lightgray;
}


.header-box{
    text-align: center;
    background-color: white;
    height: fit-content;

}

.logo{
    width: 350px;
}


.icon-nav{
    margin-left: 10px;
}

.icon-nav:hover{
    filter: invert(90%);
}

.navbar{
    background-color: #c31529;
    font-size: 20px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  margin-right: 50px;
}

.nav-item:hover{
    background-color: #1e1e1e;
}

.navbar{
    height: fit-content;
}


.front-page{
    color: white;
    text-align: center;
    background-image: url("../img/ChilloutKillLess.png");
    background-position: right;
    background-size: cover;
}

.about-us{
    color: white;
    text-align: center;
    background-image: url("../img/Aboutus.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -.2rem;
}

.menu{
    color: #1e1e1e;
    height: fit-content;
    text-align: center;

}


.img-menu{
    filter: grayscale(100%);
}

.img-menu:hover{
    filter: grayscale(0%);
}

.real-mexican{
    color: white;
    text-align: center;
    background-image: url("../img/Therealmexicantaste.png");
    background-position: center;
    background-size: cover;
    width: 100%;

}

.insta{
    background-color: white;
    text-align: center;
}

.img-insta{
    width: 99.5%;
}

.img-insta:hover{
    width: 100%;
}

.catering{
    background-color: white;
}

.contact{
    color: white;
    text-align: center;
    background-image: url("../img/croquis.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: fit-content;
}

.footer{
        background-color: #1e1e1e;
    color: white;
    font-size: 20px;
    height: fit-content;
    text-align: center;
}

.border-red{
    height: 1rem;
    background-color: #c31529;
}

.border-black{
    height: 1rem;
    background-color: #1e1e1e;
}

.social-icon{
    width: 50px;
    display: inline;
}



@media only screen and (max-width:640px){
    .navbar{
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    }
}